
.side-nav
{
    height: 700px;
    background-color: #2B3A67; 
    margin: 0;
    padding: 0;

}

/* Active/current link */
.logoContainer{
    height: 90px;
    background-color: #FFC482;
    width: 150px;
    position: relative;
    left:50;
   text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
    
}
.navItem
{
    line-height: 45px;
    padding-left:50px;
    /* border-bottom: solid 1px  aliceblue; */
    color:aliceblue;
    font-size: 12px;
    transition: padding 1s;
}
.navItem:hover
{
    background-color: #66999B;
    color:white;
    padding-left: 70px;
    width: 100%;

}
.navItem:hover > a{
    color:black;
}
.links{
    text-decoration:none;
    color:aliceblue;
}
.links:hover{
    text-decoration:none;
    color:black;
}
.navItem.active{
    padding-left: 70px;
    color:aliceblue;
    background-color: #66999B;
}
.mt-4 i{
    color:#FFC482;
}
