
.container
{
width: 800px;
height: 500px;
margin-top: 123px;
margin-bottom:123px;
background: #3F4453;
box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#title
{
 height:500px ;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 background-image:url("/view/resources/images/bud.png");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-color: aliceblue;
}

label[for]
{
    color:aliceblue;
    font-size: 12px;
}

.botton 
{
    width: 200px;
    height: 40px;
    background-color: #FF0303;
    border-radius: 50px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    border-style: none;
    color: aliceblue;
    outline:0px;
    font-weight: bold;
    font-size: 20px;
}

.botton:hover
{
    background-color: #f51010;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.forgot
{
   color:aliceblue;
}
#error{
    background-color: #dd600d;
    color:white;
    text-align: center;
    border-radius: 10px;
    display:none;
}
.botton:focus{
    outline:none ;
    background-color: rgb(250, 164, 4);
}